* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

html,
body {
  background-color: #000000;
}

#main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #000000;
  margin-bottom: 100px;
}
#main .mainContent {
  height: auto;
  width: 700px;
  margin-top: 100px;
  border: 2px solid #0E1220;
  background-color: #40AB7E;
  -webkit-box-shadow: 0px 4px 0px 0px #0E1220;
          box-shadow: 0px 4px 0px 0px #0E1220;
  z-index: 3;
}
#main .mainContent .header {
  text-shadow: 7px 5px 5px #0E1220;
  padding-top: 10px;
  text-align: center;
  font-weight: light;
  color: #0E1220;
}
#main .mainContent hr {
  width: 100%;
  border: 2px solid black;
}
#main .mainContent .searchPanel {
  margin-bottom: 20px;
}
#main .mainContent .searchPanel .taskName {
  height: 38px;
  width: 440px;
  font-size: 19px;
  margin-right: 40px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 30px;
  border: 1px solid #0E1220;
  -webkit-box-shadow: 1px 2px 0px 0px #0E1220;
          box-shadow: 1px 2px 0px 0px #0E1220;
}
#main .mainContent .searchPanel .taskName:focus {
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 3px 4px 0px 0px #0E1220;
          box-shadow: 3px 4px 0px 0px #0E1220;
}
#main .mainContent .searchPanel .taskName:not(:focus) {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 1px 2px 0px 0px #0E1220;
          box-shadow: 1px 2px 0px 0px #0E1220;
}
#main .mainContent .searchPanel .addBtn {
  height: 40px;
  width: 185px;
  background-color: #7CBA72;
  border-radius: 30px;
  border: 1.5px solid #0E1220;
  margin-top: -3px;
  font-size: 18px;
}
#main .mainContent .searchPanel .addBtn:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0 0 0 2px #7CBA72, 0 0 0 4px #0E1220;
          box-shadow: 0 0 0 2px #7CBA72, 0 0 0 4px #0E1220;
}
#main .mainContent .searchPanel .addBtn:not(:focus) {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#main .mainContent .task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #0E1220;
  border-radius: 13px;
  -webkit-box-shadow: 2px 2px 2px 0px #0E1220;
          box-shadow: 2px 2px 2px 0px #0E1220;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#main .mainContent .task-container:hover {
  -webkit-box-shadow: 2px 4px 2px 0px #0E1220;
          box-shadow: 2px 4px 2px 0px #0E1220;
}
#main .mainContent .task-container .task-text {
  height: 50px;
  margin-top: 10px;
  padding-top: 9px;
  padding-left: 15px;
  font-size: 22px;
  font-weight: 400px;
}
#main .mainContent .task-container .task-text + div .btn-dark {
  margin-right: 20px;
  background-color: #7CBA72;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 1px 1px 3px 1px #0E1220;
          box-shadow: 1px 1px 3px 1px #0E1220;
}
#main .mainContent .task-container .task-text + div .btn-danger {
  margin-right: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 1px 1px 3px 1px #661008;
          box-shadow: 1px 1px 3px 1px #661008;
}
#main #result .completedTasks {
  height: 250px;
  width: 500px;
  background-color: aqua;
  margin-top: 100px;
  border: 2px solid #0E1220;
}
#main #result .completedTasks .task-type {
  margin-top: 5px;
  font-size: 24px;
  text-align: center;
}
#main #result .failedTasks {
  height: 250px;
  width: 500px;
  background-color: green;
  margin-top: 100px;
  border: 2px solid #0E1220;
}
#main #result .failedTasks .task-type {
  margin-top: 5px;
  font-size: 24px;
  text-align: center;
}/*# sourceMappingURL=App.css.map */