$borderColor: #0E1220;
$backgroundColorMain: #5ec399;
$boxTextShadow: #0E1220;

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

html,
body {
    background-color: #000000;
}

@mixin size ($height: 100px, $width: 200px) {
    height: $height;
    width: $width;
}

@mixin font ($color: $colorText, $fontSize: 32px) {
    font-weight: $fontWeight;
    font-family: $fontFamily;
    color: $color;
    font-size: $fontSize;
}

#main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #000000;
    margin-bottom: 100px;

    .mainContent {
        @include size(auto, 700px);
        margin-top: 100px;
        border-radius: 13px;
        border: 2px solid $borderColor;
        background-color: $backgroundColorMain;
        box-shadow: 0px 4px 0px 0px $boxTextShadow;

        .header {
            text-shadow: 7px 5px 5px $boxTextShadow;
            padding-top: 10px;
            text-align: center;
            font-weight: light;
            color: #0E1220;
        }

        hr {
            width: 100%;
            border: 2px solid black;
        }

        .searchPanel {
            margin-bottom: 20px;

            .taskName {
                height: 38px;
                width: 440px;
                font-size: 19px;
                margin-right: 40px;
                margin-left: 10px;
                padding-left: 10px;
                border-radius: 30px;
                border: 1px solid $borderColor;
                box-shadow: 1px 2px 0px 0px $boxTextShadow;

                &:focus {
                    outline: none;
                    transition: all .2s linear;
                    box-shadow: 3px 4px 0px 0px $boxTextShadow;
                }

                &:not(:focus) {
                    transition: all .2s linear;
                    box-shadow: 1px 2px 0px 0px $boxTextShadow;
                }
            }

            .addBtn {
                @include size($width: 185px, $height: 40px);
                background-color: #427e37;
                color: #fff;
                border-radius: 30px;
                border: 1.5px solid $borderColor;
                margin-top: -3px;
                font-size: 18px;

                &:hover {
                    transition: all .2s linear;
                    box-shadow: 0 0 0 2px #427e37, 0 0 0 4px $boxTextShadow;
                }

                &:not(:focus) {
                    transition: all .2s linear;
                }
            }

            @media all and (max-width: 692px) {

                .taskName {
                    width: 97%;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .addBtn {
                    width: 97%;
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }

        .task-container {
            display: flex;
            width: 97%;
            height: auto;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $borderColor;
            border-radius: 13px;
            box-shadow: 2px 2px 2px 0px $boxTextShadow;
            transition: all 0.1s linear;

            &:hover {
                box-shadow: 2px 4px 2px 0px $boxTextShadow;
            }

            .task-text {
                height: 50px;
                margin-top: 10px;
                padding-top: 9px;
                padding-left: 15px;
                font-size: 22px;
                font-weight: 400px;

                &+div .btn-dark {
                    margin-right: 20px;
                    background-color: #427e37;
                    transition: all .2s linear;
                    box-shadow: 1px 1px 3px 1px $boxTextShadow;
                }

                &+div .btn-danger {
                    margin-right: 20px;
                    transition: all .2s linear;
                    box-shadow: 1px 1px 3px 1px #661008;
                    background-image: linear-gradient(to top, #6d114a 0, #f1824d 0, #f16236 47%, #eb482d 100%);
                }
            }
        }
    }

    #result {
        @include size(auto, 700px);

        .completedTasks {
            @include size ($height: 390px, $width: 100%);
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start; 
            margin-top: 100px;
            border-radius: 13px;
            transition: all 0.1s linear;
            border: 2px solid $borderColor;
            background-color: $backgroundColorMain;
            box-shadow: 2px 2px 2px 0px $boxTextShadow;

            .task-type {
                margin-top: 5px;
                font-size: 24px;
                text-align: center;
                font-weight: bold;
                text-shadow: 2px 3px 7px $boxTextShadow;
            }

            .hor_line {
                width: 100%;
                opacity: 0.4;
                margin-top: 3px;
                border: 2px solid black;
            }

            .task-closed {
                @include size ($height: 38px, $width: 97%);
                margin-top: 6px;
                margin-left: auto;
                margin-right: auto;
                font-size: 17px;
                padding-top: 6px;
                padding-left: 10px;
                border-radius: 13px;
                padding-bottom: -5px;
                transition: all 0.1s linear;
                border: 1px solid $borderColor;
                box-shadow: 2px 2px 2px 0px $boxTextShadow;

                &:hover {
                    box-shadow: 3px 3px 2px 0px $boxTextShadow;
                }
            }
        }

        .failedTasks {
            @include size ($height: 390px, $width: 700px);
            display: flex;
            margin-top: 50px;
            border-radius: 13px;
            flex-flow: column wrap;
            border: 2px solid $borderColor;
            background-image: linear-gradient(to top, #6d114a 0, #f1824d 0, #ee653d 47%, #eb482d 100%);

            .task-type {
                display: inline-block;
                margin-top: 5px;
                font-size: 24px;
                text-align: center;
                font-weight: bold;
                text-shadow: 2px 3px 7px $boxTextShadow;
            }


            .hor_line {
                width: 100%;
                opacity: 0.4;
                margin-top: 3px;
                border: 2px solid black;
            }

            .task-closed {
                @include size ($height: 38px, $width: 97%);
                color: black;
                font-size: 19px;
                margin-top: 6px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 10px;
                padding-top: 6px;
                border-radius: 13px;
                padding-bottom: -5px;
                transition: all 0.1s linear;
                border: 1px solid $borderColor;
                box-shadow: 2px 2px 2px 0px $boxTextShadow;

                &:hover {
                    box-shadow: 3px 3px 2px 0px $boxTextShadow;
                }
            }
        }
    }
}