$borderColor: #0E1220;
$backgroundColorMain: #40AB7E;
$boxTextShadow: #0E1220;

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

html,
body {
    background-color: #000000;
}

@mixin size ($height: 100px, $width: 200px) {
    height: $height;
    width: $width;
}

@mixin font ($color: $colorText, $fontSize: 32px) {
    font-weight: $fontWeight;
    font-family: $fontFamily;
    color: $color;
    font-size: $fontSize;
}

#main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #000000;
    margin-bottom: 100px;

    .mainContent {
        @include size(auto, 700px);
        margin-top: 100px;
        border: 2px solid $borderColor;
        background-color: #40AB7E;
        box-shadow: 0px 4px 0px 0px $boxTextShadow;
        z-index: 3;

        .header {
            text-shadow: 7px 5px 5px $boxTextShadow;
            padding-top: 10px;
            text-align: center;
            font-weight: light;
            color: #0E1220;
        }

        hr {
            width: 100%;
            border: 2px solid black;
        }

        .searchPanel {
            margin-bottom: 20px;

            .taskName {
                height: 38px;
                width: 440px;
                font-size: 19px;
                margin-right: 40px;
                margin-left: 10px;
                padding-left: 10px;
                border-radius: 30px;
                border: 1px solid $borderColor;
                box-shadow: 1px 2px 0px 0px $boxTextShadow;

                &:focus {
                    outline: none;
                    transition: all .2s linear;
                    box-shadow: 3px 4px 0px 0px $boxTextShadow;
                }

                &:not(:focus) {
                    transition: all .2s linear;
                    box-shadow: 1px 2px 0px 0px $boxTextShadow;
                }
            }

            .addBtn {
                @include size($width: 185px, $height: 40px);
                background-color: #7CBA72;
                border-radius: 30px;
                border: 1.5px solid $borderColor;
                margin-top: -3px;
                font-size: 18px;

                &:hover {
                    transition: all .2s linear;
                    box-shadow: 0 0 0 2px #7CBA72, 0 0 0 4px $boxTextShadow;
                }

                &:not(:focus) {
                    transition: all .2s linear;
                }
            }
        }

        .task-container {
            display: flex;
            width: 97%;
            height: auto;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $borderColor;
            border-radius: 13px;
            box-shadow: 2px 2px 2px 0px $boxTextShadow;
            transition: all 0.1s linear;

            &:hover {       
                box-shadow: 2px 4px 2px 0px $boxTextShadow;
            }

            .task-text {
                height: 50px;
                margin-top: 10px;
                padding-top: 9px;
                padding-left: 15px;
                font-size: 22px;
                font-weight: 400px;

                & + div .btn-dark  {
                    margin-right: 20px;
                    background-color: #7CBA72;
                    transition: all .2s linear;
                    box-shadow: 1px 1px 3px 1px $boxTextShadow;
                }

                & + div .btn-danger {
                    margin-right: 20px;
                    transition: all .2s linear;
                    box-shadow: 1px 1px 3px 1px #661008;
                }
            }
        }
    }

    #result {

        .completedTasks {
            @include size ($height: auto, $width: 700px);
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            background-color: aqua;
            margin-top: 100px;
            border: 2px solid $borderColor;

            .task-type {
                margin-top: 5px;
                font-size: 24px;
                text-align: center;
            }

            .hor_line {
                width: 100%;
                opacity: 0.4;
                border: 2px solid black; 
                margin-top: 3px;
            }

            .task-closed {
                @include size ($height: auto, $width: 50%);
                margin-left: 10px;
                margin-right: 10px;
                border: 1px solid black;
                white-space: nowrap;
            }
        }
        
        .failedTasks {
            @include size ($height: 250px, $width: 700px);
            display: flex;
            flex-flow: column wrap;
            background-color: green;
            margin-top: 100px;
            border: 2px solid $borderColor;

            .task-type {
                margin-top: 5px;
                font-size: 24px;
                text-align: center;
            }

            .hor_line {
                width: 100%;
                opacity: 0.4;
                border: 2px solid black;
                margin-top: 3px;
            }

            .task-closed {
                @include size ($height: auto, $width: 98%);
                margin-left: 10px;
                margin-right: 10px;
                border: 1px solid $borderColor;
                white-space: nowrap;
            }
        }
    }
}